$primaryColor:#20232a;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1300px;
    width: 92%;
    margin: 0 auto;
}

ol,ul {
    list-style: none;
}

body {
    font-family: 'ubunturegular';
}

section#home {
    header {
        padding: 2px 55px;
        width: 100%;
        background-color: $primaryColor;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1.left {
            font-size: 40px;
            font-weight: 7000;
            a {
                display: block;
                text-decoration: none;
                img {
                    display: block;
                }
            }
        }
        nav.center {
            ul {
                display: flex;
                align-items: center;
                li {
                    margin-right: 20px;
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        display: block;
                        color: #fff;
                        text-decoration: none;
                        &:hover {
                            color: #61dafb;
                        }
                    }
                }
            }
        }
        form {
            position: relative;
            &::before{
                content: "";
                background-image: url(../images/search1.svg);
                width: 16px;
                height: 16px;
                display: block;
                position: absolute;
                left: 7px;
                top: 0;
                bottom: 0;
                margin: auto 0;
                z-index: 2;
            }
            div.search-input {
                input {
                    display: block;
                    width: 200px;
                    outline: none;
                    border: none;
                    color: #fff;
                    border-radius: 4px;
                    width: 100%;
                    background: transparent;
                    font-size: 18px;
                    font-weight: 300;
                    padding: 4px 4px 4px 29px;
                    &:focus {
                        background-color: #373940;
                    }
                }
            }
        }
        ul.right {
            li {
                display: inline-block;
                margin-right: 20px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    color: #fff;
                    text-decoration: none;
                    &:hover {
                        color: #61dafb;
                    }
                }
            }
        }
    }
    #spotlight {
        padding: 50px 0;
        .wrapper {
            display: flex;
        }
        .main {
            ul.posts {
                margin-right: 30px;
                li {
                    display: flex;
                    display: flex;
                    align-items: flex-start;
                    margin-bottom: 1.5rem;
                    div.left-container {
                        margin-right: 1.5rem;
                        flex: 0 0 350px;
                        width: 350px;
                        position: relative;
                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    div.right-container {
                        flex: 1 1;
                        h2 {
                            font-size: 1.4rem;
                            font-weight: 500;
                            letter-spacing: -1px;
                            color: #333;
                            display: block;
                            margin-bottom: 22px;
                            font-family:  'ubuntumedium';
                            cursor: pointer;
                            &:hover {
                                color: #0596fd;
                            }
                        }
                        p {
                            color: #9a9a9a;
                            font-size: 0.875rem;
                            line-height: 1.5rem;
                            margin: 0 0 1rem;
                        }
                        div.bottom {
                            display: flex;
                            font-size: 0.875rem;
                            align-items: center;
                            justify-content: space-between;
                            margin-top: 0.5rem;
                            span.date {
                                display: block;
                                color: #adb5bd;
                            }
                            span.comments {
                                display: block;
                                color: #0596fd;
                                font-weight: 700;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            nav.pagination {
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                font-size: 1rem;
                margin: 3rem 0;
                ul {
                    list-style: none;
                    color: #323232;
                    li {
                        display: inline-block;
                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 2rem;
                            height: 2rem;
                            border-radius: 3px;
                            color: #323232;
                            font-weight: 700;
                            margin: 0.5rem 0.125rem;
                            font-size: 0.875rem;
                            background: #ebe7e7;
                            text-decoration: none;
                            &:hover {
                                background-color: #0596fd;
                                color: #fff;
                            }
                        }
                    }
                }
            }
            div.s-post{
                h4 {
                    margin-bottom: 1.5rem;
                    font-size: 18px;
                    display: flex;
                    align-items: center;
                    color: #373940;
                    &::after {
                        content: "";
                        background: rgba(0, 0, 0, 0.12);
                        height: 1px;
                        flex: 1;
                        margin-left: 1rem;
                    }
                }
                ul.sub-posts {
                    width: 100%;
                    display: flex;
                    li {
                        a {
                            text-decoration: none;
                            color: #20232a;
                            &:hover {
                                color: #0596fd;
                            }
                        }
                        img {
                            display: block;
                            width: 270px;
                            height: auto;
                            margin-bottom: 0.5rem;
                        }
                        h3 {
                           font-size: 1.2rem;
                           max-width: 290px;
                           line-height: 1.5rem;
                        }
                    }
                }
            }
        }
        aside.right {
            margin-left: auto;
            // padding: 0 30px;
            ul {
                width: 100%;
                h3 {
                    margin-bottom: 20px;
                    display: flex;
                    align-items: center;
                    &::after {
                        content: "";
                        background: rgba(0, 0, 0, 0.12);
                        height: 1px;
                        flex: 1;
                        margin-left: 1rem;
                    }
                }
                li {
                    display: flex;
                    background: #fff;
                    margin-bottom: 1rem;
                    word-break: normal;
                    height: auto;
                    div.left {
                        cursor: pointer;
                        flex: 0 0 144px;
                        overflow: hidden;
                        width: 145px;
                        height: 100px;
                        margin-right: 10px;
                        img {
                           display: block;
                           height: auto;
                           width: 100%;
                        }
                    }
                    div.right {
                        cursor: pointer;
                        span.tag {
                            display: block;
                            font-weight: 700;
                            color: #0596fd;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-size: 15px;
                        }
                        span.text {
                            display: block;
                            color: #323232;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 1.5em;
                            font-family: 'ubuntumedium';
                        }
                    }
                }
            }
        }
    }
    footer {
        width: 100%;
        background-color: #282c34;
        margin: 0 auto;
        padding: 40px 30px 10px 30px;
        text-align: center;
        ul {
            list-style: none;
            li {
                display: inline-block;
                margin-right: 20px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    text-decoration: none;
                    color: #fff;
                    &:hover {
                        color: #0596fd;
                    }
                }
            }
        }
        div.footer-logo {
            padding: 20px 0 0 0;
            width: 100%;
            img {
                display: block;
                margin: 0 auto;
            }
        }
        div.c-right {
            padding: 20px 0 0 0;
            p {
                color: #fff;
                a {
                    display: inline-block;
                    text-decoration: none;
                    color: #fff;
                    &:hover {
                        color: #0596fd;
                    }
                }
            }
        }
    }
}